@model IEnumerable<Eating.ViewModels.MenuListViewModel>

<table class="table">
    <thead>
        <tr>
            <th>              
            </th>
            <th>
                名稱
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            for(int i = 0; i < Model.Count() ; i++)
            {
                <tr>
                    <td class="col-md-3">
                        <img src="@Model.ElementAt(i).ImgPath" style="height:10%;"/>
                    </td>
                    <td class="col-md-2">
                        <input class="form-control " type="text" name="MenuListViewModel[@i].Name"/>
                    </td>
                    <td class="col-md-3 col-md-offset-1">
                        <button class="btn btn-default" type="submit" value="">test</button>
                    </td>

                </tr>
            }
        }
        
    </tbody>
</table>