
@{
    ViewBag.Title = "EmailValidate";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<h2 class="col-md-12" style="text-align:center; font-weight:800;">信箱驗證</h2>
<hr />
<div class="col-md-12" style="line-height:100px; text-align:center; border-top:1px solid rgba(255, 255, 255, 0.80);"><p>@ViewData["EmailValidate"]</p></div>


