
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="col-lg-6 connectedSortable ui-sortable">
    <div class="box box-info" style="position: relative; left: 0px; top: 0px;">
        <div class="box-header ui-sortable-handle" style="">
            <i class="fa fa-info"></i>

            <h3 class="box-title"><b>帳號管理</b></h3>
        </div>
        <div class="box-body">
         @{
             Html.RenderAction("accPartial","Restaurant");
        }
        </div>
        <div class="box-footer clearfix">

        </div>
    </div>
</section>

<section class="col-lg-6 connectedSortable ui-sortable">
    <div class="box box-primary" style="position: relative; left: 0px; top: 0px;">
        <div class="box-header ui-sortable-handle" style="">
            <i class="fa fa-info"></i>

            <h3 class="box-title"><b>資訊管理</b></h3>
        </div>

        <div class="box-body">
            @{
                Html.RenderAction("infoPartial", "Restaurant");
            }
        </div>
        <div class="box-footer">

        </div>
        </div>
 </section>

       
@section scripts
{
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
        
            @Html.Raw(TempData["Messageinfo"])
            @Html.Raw(TempData["Messageacc"])
         

            $('#CloseTime, #StartTime').datetimepicker({
                format: 'HH:mm'
            });

            $('#save').on('click', function () {
                var startTime = document.getElementById('StartTime').value.split(':');
                var closeTime = document.getElementById('CloseTime').value.split(':');

                var _sTime = new Date('2000', '1', '1', startTime[0], startTime[1]);
                var _cTime = new Date('2000', '1', '1', closeTime[0], closeTime[1]);
                if (_sTime > _cTime) {
                    alert("'營業時間' 需小於 '結束時間'!");
                    return false;
                }
            });

        });

    </script>
}